<div class="container">
	{{view App.LoginbuttonView}}
	<!--
	<div id="site-info">
		{{!#link-to 'index'}}Azad Web Application{{!/link-to}}
	</div>
	<div class="login-info pr">
		{{!#if model}}
			<span id='user-name-top'>
			Hello, {{!model.firstname}} {{!model.lastname}}
			</span>
			{{!#link-to 'changePassword' id='change-password-button' }} Change Password {{!/link-to}}
			<a id='logoutbutton' {{!action 'logout'}}>Logout</a>
		{{!/if}}
	</div>-->
</div>
