<div id="ChangePasswordComponent">
	<div class='modal-section-header'>Change Password</div>
	<div class='modal-section-content'>
		<form method='POST'>
			<ul class='form-list noStyle noMargin floatLT'>
				<li class='form-item floatLT'>
					<div class='input-label floatLT'>Old Password*</div>
					<div class='input floatLT'>{{input id="oldPasswordInput" type='password' valueBinding='oldPassword' placeholder="Old Password" classNames="floatLT"}}</div>
				</li>
				<li class='form-item floatLT'>
					<div class='input-label floatLT'>New Password*</div>
					<div class='input floatLT'>{{input id="newPasswordInput" type='password' valueBinding='newPassword' placeholder="New Password" classNames="floatLT"}}</div>
				</li>
				<li class='form-item floatLT'>
					<div class='input-label floatLT'>Confirm Password*</div>
					<div class='input floatLT'>{{input id="confirmPasswordInput" type='password' valueBinding='confirmPassword' placeholder="Confirm Password" classNames="floatLT"}}</div>
				</li>
				<li class='form-item floatLT changepasswrdbutton'>
					<input type="submit" value="Change Password" class="ch-btn" id="change-password-button" {{action 'changePassword'}}/>
				</li>
			</ul>
		</form>
	</div>
</div>